/* Estilos Globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #000000;
}

/* Headr */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #272626;
}

/* Logo */
.logo img {
  height: 60px;
}

/* Buscador */
.busqueda {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 10px;
}

.busqueda input {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  width: 380px;
  background-color: #e2e1dc;
  color: #0c0c0c;
  font-size: 15px;
}

.busqueda input::placeholder {
  color: #a2a1a1;
}

.busqueda button {
  background-color: #c19a6b;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  color: #0c0c0c;
  cursor: pointer;
  transition: 0.3s;
}

.busqueda button:hover {
  background-color: #d4af37;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  background-color: #0c0c0c;
}

.navbar a {
  color: #f5f5f5;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
  transition: 0.3s;
}

.navbar a:hover {
  color: #c19a6b;
}

.nav-izquierda,
.nav-derecha {
  display: flex;
  align-items: center;
}

.btn-filtros {
  background-color: #c19a6b;
  color: #0c0c0c;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 40px;
  transition: background-color 0.3s, transform 0.2s ease;
}

.btn-filtros:hover {
  background-color: #d4af37;
  transform: scale(1.05);
}

/* Productos */
.productos {
  background-color: #0c0c0c;
  text-align: center;
  padding: 40px 0 60px;
}

.productos h2 {
  color: #c19a6b;
  font-size: 2rem;
  margin-bottom: 40px;
}

/* Tarjetas*/
#productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 0 40px;
}

/* Tarjetas individuales */
.producto-card {
  background-color: #1e1e1e;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.producto-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.7);
}

.producto-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.producto-card h4 {
  color: #d4af37;
  font-size: 1.1rem;
  margin: 12px 0 6px;
}

.producto-card p {
  color: #bcbcbc;
  font-size: 1rem;
  margin-bottom: 15px;
}

/* Footer */
.footer {
  background-color: #1e1e1e;
  color: #f5f5f5;
  text-align: center;
  padding: 25px 10px;
  font-size: 0.9rem;
  border-top: 1px solid #2a2a2a;
}

.footer p {
  margin: 5px 0;
  color: #bcbcbc;
}

.footer p:first-child {
  color: #c19a6b;
  font-weight: bold;
}
