/* Estilo global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #000000;             
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #272626; 

}

/* Logo */ 
.logo img {
    height: 60px;
}


/* Buscador */
.busqueda {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-grow: 1;
    gap: 10px;
}

.busqueda input {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    width: 380px;              
    background-color: #e2e1dc;  
    color: #0c0c0c;             
    font-size: 15px;
}

.busqueda input::placeholder {
    color: #a2a1a1;
}

.busqueda button {
    background-color: #c19a6b;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    color: #0c0c0c;
    cursor: pointer;
    transition: 0.3s;
}

.busqueda button:hover {
    background-color: #d4af37;
}

/*  NAVBAR  */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    background-color: #0c0c0c;
}

.navbar a {
    color: #f5f5f5;
    text-decoration: none;
    margin: 0 10px 0 10px;
    font-weight: bold;
    transition: 0.3s;
}

.navbar a:hover {
    color: #c19a6b; /* efecto mouse */
}

.nav-izquierda, .nav-derecha {
    display: flex;
    align-items: center;
}

/* proximo icono carrito */
.nav-derecha a:last-child {
    font-weight: bold;
}

/*CARRUSEl*/
.banner {
    position: relative;
    width: 100%;
    height: 700px;
    background-image: url("../img/wallpaper1.png"); 
    background-size: cover;       
    background-position: center;   
    background-repeat: no-repeat;
    transition: background-image 0.6s ease-in-out;
}

/* Botones del carrusel */
.banner button {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #f5f5f5;
    border: none;
    font-size: 2rem;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 4px;
}

.banner button:hover {
    background-color: rgba(193, 154, 107, 0.8); 
}

#btn-prev {
    left: 20px;
}

#btn-next {
    right: 20px;
}


/* Main  */
/* Titulo e informacion */
.presentacion {
    text-align: center;
    padding: 60px 40px;
    background-color: #0c0c0c;  
}

.presentacion h1 {
    font-family: 'Montserrat', sans-serif;
    color: #c19a6b;
    font-size: 2.8rem;
    margin-bottom: 20px;

}

.presentacion p {
    font-size: 1.1rem;
    color: #bcbcbc;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}

.info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 60px;
    background-color: #1e1e1e;

}

.texto-info h2 {
    color: #d4af37;
    font-size: 2rem;
    margin-bottom: 15px;
}

.texto-info p {
    color: #ffffff;
    margin-bottom: 20px;
    font-style: italic;
    margin-right: 20px;
}

.imagen-info {
    display: flex;
    justify-content: flex-start;
}

.imagen-info img {
    width: 100%;
    max-width: 450px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    margin-top: 10px;

}


/*Categorias */

.categorias {
    background-color: #0c0c0c;
    padding: 40px 0;
    text-align: center;
}

.categorias h2 {
    color: #c19a6b;
    font-size: 2rem;
    margin-bottom: 30px;
}

/* Tarjetas y flexbox */
.contenedor-categorias {
    display: flex;
    justify-content: center;  
    align-items: flex-start;
    gap: 40px;   
}

.tarjeta {
    background-color: #1e1e1e;
    width: 350px;           
    border-radius: 8px;
    padding-bottom: 15px;
    text-align: center;
}

.tarjeta img {
    width: 100%;
    height: 350px;
    object-fit: cover;        
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.tarjeta h3 {
    color: #d4af37;
    font-size: 1.1rem;
    margin: 10px 0 5px;
}

.tarjeta p {
    color: #f5f5f5;
    font-size: 0.9rem;
    padding: 0 10px;
}


/* filtros */
/* boton flotante */
#btnToggleFiltros{
    position: fixed;
    right: 20px;
    background-color: #c19a6b;
    color: #000000;
    border: dashed 2px black;
    border-radius: 20px;
    width: 100px;
    height: 55px;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    z-index: 1000;
}

#btnToggleFiltros:hover{
    background-color: #d4af37;
    transform: scale(1.1);
}


/* contenido flotante */
#filtros{
    position: fixed;
    bottom: 90px;   
    right: 10px;
    background-color: #ccc;
    color: #333;
    border-radius: 12px;
    padding: 15px;
    width: 250px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    display: none;
}

#filtros.show{
    display: block;
    animation: fadeIn 0.3s ease-in-out;
}






/* articulos/productos */
#productos{
    padding-top:10px;
    padding-left: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color:#0c0c0c;
    gap:10px
}

.producto-card{
    text-align: center;
    width:300px ;
    border: 1px solid #ccc;
    background-color: #a2a1a1;
    border-radius: 10px;
}

.producto-card:hover{
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 1);
    transform: scale(1.15);
}

.producto-card img{
    width: 100%;
    height: auto;
    border-top-left-radius:10px ;
    border-top-right-radius: 10px;
    object-fit: cover;
    align-items: initial;
    text-align: center;
}


.producto-card h4, p{
    color: #1e1e1e;
}


/* FOOTER */
.footer {
    background-color: #1e1e1e;
    color: #f5f5f5;
    text-align: center;
    padding: 25px 10px;
    font-size: 0.9rem;
    border-top: 1px solid #2a2a2a;
}

.footer p {
    margin: 5px 0;
    color: #bcbcbc;
}

.footer p:first-child {
    color: #c19a6b; 
    font-weight: bold;
}